AZURE_TENANT_ID=

# Azure AI Project Configuration
PROJECT_ENDPOINT=

# Azure OpenAI Configuration
AZURE_OPENAI_ENDPOINT= #optional
AZURE_OPENAI_API_KEY= #optional
AZURE_OPENAI_CHAT_DEPLOYMENT_NAME=gpt-4.1
AZURE_OPENAI_API_VERSION="2025-04-14"
AZURE_OPENAI_DEPLOYMENT_NAME="gpt-4.1"


